body {
    background-color: #EAF6F6;

}

hr {
    border-style: none;
    background-color: white;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 30%;
}

h1{
    color: #66bfbf;
}

h3{
    color: #66bfbf;
}

/* THIS IS AN EXTERNALL CSS PAGE */